
<h1>Bug Details</h1>

<table class="table table-bordered table-hover table-dark">
  <thead class="thead-dark">
    <tr>
      <td><b>Title</b></td>
      <td><b>Status</b></td>
      <td><b>Type</b></td>
    </tr>

  </thead>

  <% @bugs.each do |bug| %>
  <tr>
    <td><%= bug.title %></td>
    <td><%= bug.status %></td>
    <td><%= bug.bug_type %></td>
<td><%= link_to 'Assign it to himself',assign_path(bug) %></td>
    <td><%= link_to 'Mark it Resolved',resolve_bugs_path(bug) %></td>
    <tr>
  </table>
<%end%>
<h3><%= link_to 'Back', developer_path %><h3>
